# 폐암 수술 환자의 생존율 데이터 분석

In [21]:
# !unzip dataset.zip -d dataset

In [32]:
!ls

dataset  dataset.zip  sample_data

In [33]:
!ls dataset/

housing.csv  pima-indians-diabetes.csv	ThoraricSurgery.csv
iris.csv     sonar.csv			wine.csv

In [34]:
# 필요한 라이브러리
import pandas as pd
import numpy as np
import tensorflow as tf
tf.__version__

'2.4.1'

In [37]:
df = pd.read_csv('./dataset/ThoraricSurgery.csv',header=None)
df.head(3)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       470 non-null    int64
 1   1       470 non-null    int64
 2   2       470 non-null    float64
 3   3       470 non-null    float64
 4   4       470 non-null    int64
 5   5       470 non-null    int64
 6   6       470 non-null    int64
 7   7       470 non-null    int64
 8   8       470 non-null    int64
 9   9       470 non-null    int64
 10  10      470 non-null    int64
 11  11      470 non-null    int64
 12  12      470 non-null    int64
 13  13      470 non-null    int64
 14  14      470 non-null    int64
 15  15      470 non-null    int64
 16  16      470 non-null    int64
 17  17      470 non-null    int64
dtypes: float64(2), int64(16)
memory usage: 66.2 KB

In [39]:
df.describe()

               0           1           2   ...          15          16          17
count  470.000000  470.000000  470.000000  ...  470.000000  470.000000  470.000000
mean   235.500000    3.095745    3.281638  ...    0.004255   62.534043    0.148936
std    135.821574    0.722309    0.871395  ...    0.065163    8.706902    0.356405
min      1.000000    1.000000    1.440000  ...    0.000000   21.000000    0.000000
25%    118.250000    3.000000    2.600000  ...    0.000000   57.000000    0.000000
50%    235.500000    3.000000    3.160000  ...    0.000000   62.000000    0.000000
75%    352.750000    3.000000    3.807500  ...    0.000000   69.000000    0.000000
max    470.000000    8.000000    6.300000  ...    1.000000   87.000000    1.000000

[8 rows x 18 columns]

### 데이터셋 만들기

In [49]:
from sklearn.model_selection import train_test_split

In [46]:
# 실행할 때마다 같은 결과를 출력하기 위한 seed 값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [73]:
X_train,X_test,y_train,y_test = train_test_split(
    df.iloc[:,:-1].values, df.iloc[:,-1].values,stratify=df.iloc[:,-1].values,
    random_state = seed
)

In [74]:
X_train.shape,X_test.shape,y_train.shape

((352, 17), (118, 17), (352,))

### 모델 정의

In [75]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Input

In [76]:
model = Sequential([
    Dense(30, input_shape=(17,), activation='relu'),
    Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 30)                540
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [77]:
# model = Sequential()
# model.add(Input(17,))
# model.add(Dense(30, activation='relu'))
# model.add(Dense(1, activation='sigmoid'))
# model.summary()

### 모델 컴파일(실행환경 설정)

In [78]:
model.compile(
                loss='binary_crossentropy', 
                optimizer='adam', 
                metrics=['accuracy']
            )

### 모델 학습

In [79]:
model.fit(X_train, y_train, validation_split=0.2, epochs=30, batch_size=10)

Epoch 1/30
29/29 [==============================] - 1s 8ms/step - loss: 16.0520 - accuracy: 0.3098 - val_loss: 3.6948 - val_accuracy: 0.8028
Epoch 2/30
29/29 [==============================] - 0s 3ms/step - loss: 2.2323 - accuracy: 0.8657 - val_loss: 1.9128 - val_accuracy: 0.8028
Epoch 3/30
29/29 [==============================] - 0s 3ms/step - loss: 0.9742 - accuracy: 0.8234 - val_loss: 1.1714 - val_accuracy: 0.8028
Epoch 4/30
29/29 [==============================] - 0s 3ms/step - loss: 0.6779 - accuracy: 0.7977 - val_loss: 0.9407 - val_accuracy: 0.7746
Epoch 5/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4998 - accuracy: 0.7881 - val_loss: 0.8010 - val_accuracy: 0.7887
Epoch 6/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4108 - accuracy: 0.8647 - val_loss: 0.7961 - val_accuracy: 0.8028
Epoch 7/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4322 - accuracy: 0.8490 - val_loss: 0.9839 - val_accuracy: 0.8028
Epoch 8/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5964 - accuracy: 0.8345 - val_loss: 0.7937 - val_accuracy: 0.8028
Epoch 9/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4297 - accuracy: 0.8982 - val_loss: 1.0506 - val_accuracy: 0.8028
Epoch 10/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4353 - accuracy: 0.8800 - val_loss: 0.7969 - val_accuracy: 0.8028
Epoch 11/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4297 - accuracy: 0.8700 - val_loss: 0.7963 - val_accuracy: 0.8028
Epoch 12/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3949 - accuracy: 0.8764 - val_loss: 0.9154 - val_accuracy: 0.8028
Epoch 13/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5097 - accuracy: 0.8167 - val_loss: 0.8626 - val_accuracy: 0.8028
Epoch 14/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3941 - accuracy: 0.8769 - val_loss: 0.8886 - val_accuracy: 0.8028
Epoch 15/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4443 - accuracy: 0.8651 - val_loss: 0.8179 - val_accuracy: 0.8028
Epoch 16/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4118 - accuracy: 0.8699 - val_loss: 0.9614 - val_accuracy: 0.8028
Epoch 17/30
29/29 [==============================] - 0s 3ms/step - loss: 0.5746 - accuracy: 0.8270 - val_loss: 0.9950 - val_accuracy: 0.8028
Epoch 18/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3923 - accuracy: 0.8720 - val_loss: 0.8398 - val_accuracy: 0.8028
Epoch 19/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4514 - accuracy: 0.8576 - val_loss: 0.9270 - val_accuracy: 0.8028
Epoch 20/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8764 - val_loss: 0.8352 - val_accuracy: 0.8028
Epoch 21/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3934 - accuracy: 0.8707 - val_loss: 1.1033 - val_accuracy: 0.8028
Epoch 22/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4196 - accuracy: 0.8628 - val_loss: 0.8352 - val_accuracy: 0.8028
Epoch 23/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4065 - accuracy: 0.8539 - val_loss: 1.5611 - val_accuracy: 0.3380
Epoch 24/30
29/29 [==============================] - 0s 3ms/step - loss: 0.9212 - accuracy: 0.6969 - val_loss: 0.8838 - val_accuracy: 0.7887
Epoch 25/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3796 - accuracy: 0.8779 - val_loss: 0.8921 - val_accuracy: 0.8028
Epoch 26/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3612 - accuracy: 0.8722 - val_loss: 0.9250 - val_accuracy: 0.8028
Epoch 27/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3340 - accuracy: 0.8984 - val_loss: 0.8780 - val_accuracy: 0.7746
Epoch 28/30
29/29 [==============================] - 0s 3ms/step - loss: 0.4251 - accuracy: 0.8670 - val_loss: 0.9132 - val_accuracy: 0.7887
Epoch 29/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3266 - accuracy: 0.8828 - val_loss: 0.8861 - val_accuracy: 0.8028
Epoch 30/30
29/29 [==============================] - 0s 3ms/step - loss: 0.3701 - accuracy: 0.8739 - val_loss: 0.8705 - val_accuracy: 0.7887

### 정확도 평가

In [80]:
acc = model.evaluate(X_test, y_test, verbose=2)
print(f"Accuracy: {acc[1]:.4f}")

4/4 - 0s - loss: 0.4323 - accuracy: 0.8475
Accuracy: 0.8475

In [23]:
# 실행할 때마다 같은 결과를 출력하기 위한 seed 값 설정
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [24]:
# 준비된 수술 환자 데이터를 불러들임
Data_set = np.loadtxt("./dataset/ThoraricSurgery.csv", delimiter=",")
Data_set[:3, :]

array([[293.  ,   1.  ,   3.8 ,   2.8 ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,  12.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,
         62.  ,   0.  ],
       [  1.  ,   2.  ,   2.88,   2.16,   1.  ,   0.  ,   0.  ,   0.  ,
          1.  ,   1.  ,  14.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,
         60.  ,   0.  ],
       [  8.  ,   2.  ,   3.19,   2.5 ,   1.  ,   0.  ,   0.  ,   0.  ,
          1.  ,   0.  ,  11.  ,   0.  ,   0.  ,   1.  ,   1.  ,   0.  ,
         66.  ,   1.  ]])

In [25]:
# 환자의 기록과 수술 결과를 X와 Y로 구분하여 저장
X = Data_set[:, :-1]
Y = Data_set[:, -1]
X.shape, Y.shape

((470, 17), (470,))

In [27]:
# 딥러닝 모델 설정
model = Sequential([
    Dense(30, input_shape=(17,), activation='relu'),
    Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 30)                540
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [28]:
from tensorflow.keras.layers import Dense, Input
model = Sequential()
model.add(Input(17,))
model.add(Dense(30, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 30)                540
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 31
=================================================================
Total params: 571
Trainable params: 571
Non-trainable params: 0
_________________________________________________________________

In [29]:
# 딥러닝 환경 설정 (오차함수, 최적화함수)
model.compile(loss='binary_crossentropy', 
              optimizer='adam', metrics=['accuracy'])

In [30]:
# 딥러닝 학습
model.fit(X, Y, epochs=20, batch_size=10)

Epoch 1/20
47/47 [==============================] - 0s 1ms/step - loss: 20.9595 - accuracy: 0.1933
Epoch 2/20
47/47 [==============================] - 0s 1ms/step - loss: 2.3194 - accuracy: 0.7010
Epoch 3/20
47/47 [==============================] - 0s 1ms/step - loss: 1.7217 - accuracy: 0.7258
Epoch 4/20
47/47 [==============================] - 0s 2ms/step - loss: 0.9864 - accuracy: 0.7499
Epoch 5/20
47/47 [==============================] - 0s 1ms/step - loss: 0.7577 - accuracy: 0.7580
Epoch 6/20
47/47 [==============================] - 0s 1ms/step - loss: 0.6649 - accuracy: 0.7397
Epoch 7/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4950 - accuracy: 0.8341
Epoch 8/20
47/47 [==============================] - 0s 1ms/step - loss: 0.5852 - accuracy: 0.8227
Epoch 9/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4460 - accuracy: 0.8577
Epoch 10/20
47/47 [==============================] - 0s 1ms/step - loss: 0.5163 - accuracy: 0.8290
Epoch 11/20
47/47 [==============================] - 0s 1ms/step - loss: 0.5083 - accuracy: 0.8355
Epoch 12/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4696 - accuracy: 0.8382
Epoch 13/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4151 - accuracy: 0.8613
Epoch 14/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4393 - accuracy: 0.8585
Epoch 15/20
47/47 [==============================] - 0s 1ms/step - loss: 0.5281 - accuracy: 0.8443
Epoch 16/20
47/47 [==============================] - 0s 1ms/step - loss: 0.5515 - accuracy: 0.7992
Epoch 17/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4031 - accuracy: 0.8722
Epoch 18/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4579 - accuracy: 0.8395
Epoch 19/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4541 - accuracy: 0.8464
Epoch 20/20
47/47 [==============================] - 0s 1ms/step - loss: 0.4577 - accuracy: 0.8521

In [31]:
# 결과 출력
# evaluate() returns the loss value & metrics values for the model 
acc = model.evaluate(X, Y, verbose=2)
print(f"Accuracy: {acc[1]:.4f}")

15/15 - 0s - loss: 0.4140 - accuracy: 0.8511
Accuracy: 0.8511